In [2]:
#Import packages
import pandas as pd
import numpy as np
import re
import warnings
import math
warnings.filterwarnings('ignore')

## Cardiogenic Shock

In [3]:
#IMPORT FILES NEEDED
shock = pd.read_csv("../Data Validation/Cardiogenic Shock/Raw Data/Cardiogenic Shock Full Data Set.csv", sep=",", index_col='PAT_ID').sort_index()
cath = pd.read_csv("../Data Validation/Cardiogenic Shock/Raw Data/Cath Data.csv", sep=",", index_col='PAT_ID').sort_index()
echo = pd.read_csv("../Data Validation/Cardiogenic Shock/Raw Data/Echo Data.csv", sep=",", index_col='PAT_ID').sort_index()

In [6]:
print(shock.loc['Z113096'])

         PAT_MRN_ID PAT_SEX PAT_DOB  IndexAdmissionCSN IndexAdmitDt  \
PAT_ID
Z113096     1836170  Female  7/6/77       2.000100e+11      9/19/18
Z113096     1836170  Female  7/6/77       7.079138e+07      2/11/17

        IndexDischDt  Deceased  H2H  SystolicHF  DiastolicHF  ...  PA_DIA  \
PAT_ID                                                        ...
Z113096      9/26/18       NaN  NaN         NaN          NaN  ...     NaN
Z113096      2/19/17       NaN  NaN         NaN          NaN  ...     NaN

         PA_MEAN  PCW_MEAN  FICK_HR  FICKCO  FICKCI TDCO TDCI PA_SAT DeathDate
PAT_ID
Z113096      NaN       NaN      NaN     NaN     NaN  NaN  NaN    NaN       NaN
Z113096      NaN       NaN      NaN     NaN     NaN  NaN  NaN    NaN       NaN

[2 rows x 106 columns]

In [4]:
cohort = pd.DataFrame()
cohort['ID'] = shock.index
cohort = cohort.set_index('ID')

for idx in shock.index:
    pt = shock.loc[idx]
    print(pt['PAT_DOB'])

cohort['Age'] = hfcoccps16['AGE'].tolist()

# lst = []
# for idx in hfcoccps16.index:
#     pt = hfcoccps16.loc[idx]
#     if pt['SEX'] == 'M': 
#         lst.append(1)
#     else:
#         lst.append(2)
# cohort['Gender'] = lst


# lst = []
# for idx in hfcchips16.index:
#     pt = hfcchips16.loc[idx]
#     if pt['RACEGRP'] == 'W': 
#         lst.append(1)
#     else:
#         lst.append(2)
# cohort['Race'] = lst

# #weight, convert to all be Kg
# lst = []
# for idx in hfchfaps16.index:
#     pt = hfchfaps16.loc[idx]
#     if pt['HFAA20A1'] == 'L': #convert lbs to Kg
#         lst.append(pt['HFAA20A'] * 0.45359237)
#     else:
#         lst.append(pt['HFAA20A'])
        
# cohort['Wt_B'] = lst

# lst = []
# for idx in hfchfaps16.index:
#     pt = hfchfaps16.loc[idx]
#     if pt['HFAA20B1'] == 'L': #convert lbs to Kg
#         lst.append(pt['HFAA20B'] * 0.45359237)
#     else:
#         lst.append(pt['HFAA20B'])

# cohort['Wt_D'] = lst

# cohort['BMI_D'] = hfcoccps16['BMI'].tolist()
# cohort['EjF'] = hfcoccps16['LVEF_CUR'].tolist()

# #NYHA
# lst = []
# for idx in hfchfaps16.index:
#     pt = hfchfaps16.loc[idx]
#     if pt['HFAA24D'] == 'N': 
#         lst.append(0)
#     else:
#         lst.append(pt['HFAA24D'])
# cohort['NYHA'] = lst

# # days = hfcchips16['CHIA0C_DAYS'] - hfcchips16['CHIA6A_DAYS'] 
# # cohort['TotalHospDays'] = days.tolist()

# cohort['TotalHospDays'] = hfcoccps16['LOS'].tolist()

cohort.head(5)

2/25/59
7/3/38
10/13/57
6/7/56
11/21/55
1/25/59
9/18/52
10/29/57
2/24/64
7/27/81
PAT_ID
Z113096    7/6/77
Z113096    7/6/77
Name: PAT_DOB, dtype: object
PAT_ID
Z113096    7/6/77
Z113096    7/6/77
Name: PAT_DOB, dtype: object
1/28/50
11/12/38
4/4/56
5/9/47
1/12/55
1/8/46
6/1/59
PAT_ID
Z1160705    1/20/51
Z1160705    1/20/51
Name: PAT_DOB, dtype: object
PAT_ID
Z1160705    1/20/51
Z1160705    1/20/51
Name: PAT_DOB, dtype: object
5/3/34
4/30/50
10/9/68
4/15/44
PAT_ID
Z121216    3/10/48
Z121216    3/10/48
Name: PAT_DOB, dtype: object
PAT_ID
Z121216    3/10/48
Z121216    3/10/48
Name: PAT_DOB, dtype: object
2/18/52
11/2/45
PAT_ID
Z124550    3/9/60
Z124550    3/9/60
Name: PAT_DOB, dtype: object
PAT_ID
Z124550    3/9/60
Z124550    3/9/60
Name: PAT_DOB, dtype: object
12/8/39
5/2/31
4/23/52
11/26/45
7/22/48
5/16/49
6/25/41
9/16/40
6/16/61
8/27/53
1/2/50
1/27/61
2/17/55
2/2/49
7/6/58
4/28/58
4/1/35
6/17/55
12/20/57
8/23/42
5/11/72
5/25/59
1/9/39
11/7/46
6/10/53
10/24/65
1/5/68
12/18/89
2/26/45
5/13/47
PAT_ID
Z1699308    2/8/43
Z1699308    2/8/43
Name: PAT_DOB, dtype: object
PAT_ID
Z1699308    2/8/43
Z1699308    2/8/43
Name: PAT_DOB, dtype: object
2/21/60
6/9/35
PAT_ID
Z175536    6/19/61
Z175536    6/19/61
Name: PAT_DOB, dtype: object
PAT_ID
Z175536    6/19/61
Z175536    6/19/61
Name: PAT_DOB, dtype: object
7/12/30
3/19/59
5/20/51
6/25/37
5/31/37
5/24/59
11/27/61
12/1/56
3/20/70
4/4/86
5/8/81
7/12/43
7/5/45
12/19/39
10/30/77
11/18/55
12/30/35
6/26/57
5/31/69
8/13/45
12/18/55
12/27/52
6/4/46
9/8/59
12/5/80
7/29/57
10/21/49
7/31/59
10/18/70
1/27/91
7/12/47
8/29/42
6/14/60
1/20/37
4/20/49
4/23/59
4/30/52
1/4/54
2/21/68
11/21/12
PAT_ID
Z2276981    2/28/59
Z2276981    2/28/59
Name: PAT_DOB, dtype: object
PAT_ID
Z2276981    2/28/59
Z2276981    2/28/59
Name: PAT_DOB, dtype: object
12/28/57
9/3/35
11/21/80
1/14/99
6/8/58
4/6/46
1/29/71
PAT_ID
Z2331222    7/28/96
Z2331222    7/28/96
Z2331222    7/28/96
Name: PAT_DOB, dtype: object
PAT_ID
Z2331222    7/28/96
Z2331222    7/28/96
Z2331222    7/28/96
Name: PAT_DOB, dtype: object
PAT_ID
Z2331222    7/28/96
Z2331222    7/28/96
Z2331222    7/28/96
Name: PAT_DOB, dtype: object
PAT_ID
Z2334833    12/10/42
Z2334833    12/10/42
Name: PAT_DOB, dtype: object
PAT_ID
Z2334833    12/10/42
Z2334833    12/10/42
Name: PAT_DOB, dtype: object
11/27/44
12/9/75
10/14/53
10/2/54
1/6/64
PAT_ID
Z2374464    5/19/69
Z2374464    5/19/69
Z2374464    5/19/69
Name: PAT_DOB, dtype: object
PAT_ID
Z2374464    5/19/69
Z2374464    5/19/69
Z2374464    5/19/69
Name: PAT_DOB, dtype: object
PAT_ID
Z2374464    5/19/69
Z2374464    5/19/69
Z2374464    5/19/69
Name: PAT_DOB, dtype: object
3/17/52
2/13/67
12/21/51
12/24/56
2/11/42
10/16/68
PAT_ID
Z2426619    2/24/70
Z2426619    2/24/70
Name: PAT_DOB, dtype: object
PAT_ID
Z2426619    2/24/70
Z2426619    2/24/70
Name: PAT_DOB, dtype: object
9/13/98
5/22/40
4/22/36
9/18/65
10/26/46
7/16/65
6/24/79
9/27/46
11/23/69
10/6/41
11/14/54
4/27/16
4/12/31
12/18/65
3/14/81
1/16/62
11/2/47
9/28/55
PAT_ID
Z2554879    5/20/39
Z2554879    5/20/39
Name: PAT_DOB, dtype: object
PAT_ID
Z2554879    5/20/39
Z2554879    5/20/39
Name: PAT_DOB, dtype: object
6/30/80
12/30/08
PAT_ID
Z2561844    9/28/64
Z2561844    9/28/64
Name: PAT_DOB, dtype: object
PAT_ID
Z2561844    9/28/64
Z2561844    9/28/64
Name: PAT_DOB, dtype: object
7/6/40
11/7/34
9/1/89
2/16/44
4/16/39
2/24/17
2/11/62
3/17/59
12/10/44
5/15/57
6/23/58
7/11/45
11/1/50
9/12/73
3/18/60
6/29/68
7/14/46
12/13/55
8/22/83
12/2/47
2/5/60
2/18/66
2/8/80
8/1/40
11/30/17
12/11/49
8/28/62
4/15/49
4/5/99
8/17/39
6/1/79
7/18/46
12/12/46
7/4/35
2/26/45
1/12/71
1/24/92
2/27/18
7/29/46
9/14/54
8/18/52
9/17/70
3/31/83
PAT_ID
Z2673388    11/19/50
Z2673388    11/19/50
Name: PAT_DOB, dtype: object
PAT_ID
Z2673388    11/19/50
Z2673388    11/19/50
Name: PAT_DOB, dtype: object
9/29/69
12/3/78
7/17/97
3/30/44
12/8/49
4/11/50
6/3/40
4/4/63
8/2/18
4/27/75
2/28/44
10/16/69
3/13/47
11/19/01
5/31/47
8/19/18
3/30/58
6/18/76
7/30/43
8/10/69
4/23/45
2/1/62
5/2/49
1/21/77
2/10/49
8/22/98
11/30/18
9/5/55
4/2/62
6/13/92
8/10/57
7/14/43
3/12/56
5/2/49
1/30/19
2/27/75
5/15/65
9/20/58
3/6/71
12/24/51
4/5/31
12/11/56
8/4/64
12/19/64
7/1/58
PAT_ID
Z2791762    9/25/73
Z2791762    9/25/73
Name: PAT_DOB, dtype: object
PAT_ID
Z2791762    9/25/73
Z2791762    9/25/73
Name: PAT_DOB, dtype: object
5/10/18
8/15/79
11/27/59
7/24/79
11/25/60
6/23/41
3/1/63
6/9/70
4/15/46
3/13/46
3/25/00
12/17/37
5/11/58
1/17/65
11/21/74
9/15/56
12/3/43
1/9/88
4/4/32
9/22/58
2/2/43
1/5/63
8/7/65
7/13/35
2/3/20
8/19/58
2/12/63
3/17/39
3/17/61
7/27/66
12/9/75
4/19/58
7/12/54
9/19/57
4/12/59
9/9/96
2/1/31
PAT_ID
Z295030    2/2/64
Z295030    2/2/64
Name: PAT_DOB, dtype: object
PAT_ID
Z295030    2/2/64
Z295030    2/2/64
Name: PAT_DOB, dtype: object
2/1/74
1/15/42
12/12/31
3/5/64
3/31/47
5/1/45
12/9/66
3/17/77
7/8/67
4/3/54
4/15/50
5/17/79
4/29/46
9/19/75
3/20/22
12/22/68
9/7/57
11/2/33
2/27/46
4/12/48
6/18/47
10/6/42
9/5/64
11/3/39
10/5/60
2/12/39
10/23/63
4/11/78
8/13/44
8/24/61
1/29/59
9/19/53
1/1/75
10/28/04
10/1/62
3/7/64
10/6/52
11/21/47
7/9/45
12/23/68
12/21/42
2/26/53
11/22/62
5/18/95
11/15/50
2/2/63
1/26/77
3/9/46
9/13/58
1/21/43
4/14/73
5/11/53
10/19/35
9/14/38
10/10/48
3/23/78
7/13/82
8/9/45
PAT_ID
Z515876    10/4/62
Z515876    10/4/62
Name: PAT_DOB, dtype: object
PAT_ID
Z515876    10/4/62
Z515876    10/4/62
Name: PAT_DOB, dtype: object
PAT_ID
Z522948    2/23/45
Z522948    2/23/45
Name: PAT_DOB, dtype: object
PAT_ID
Z522948    2/23/45
Z522948    2/23/45
Name: PAT_DOB, dtype: object
4/5/66
5/6/59
8/23/26
PAT_ID
Z553184    10/7/61
Z553184    10/7/61
Name: PAT_DOB, dtype: object
PAT_ID
Z553184    10/7/61
Z553184    10/7/61
Name: PAT_DOB, dtype: object
7/24/45
12/29/43
11/4/88
1/12/49
1/11/37
1/25/54
11/26/66
12/11/31
4/2/62
11/24/44
8/1/41
PAT_ID
Z677138    4/22/49
Z677138    4/22/49
Name: PAT_DOB, dtype: object
PAT_ID
Z677138    4/22/49
Z677138    4/22/49
Name: PAT_DOB, dtype: object
12/14/80
12/12/85
3/5/47
10/17/60
10/10/69
7/20/65
8/1/80
9/29/53
10/28/81
2/15/49
3/13/60
7/14/47
7/22/51
12/13/55
6/23/68
PAT_ID
Z75684    11/8/63
Z75684    11/8/63
Name: PAT_DOB, dtype: object
PAT_ID
Z75684    11/8/63
Z75684    11/8/63
Name: PAT_DOB, dtype: object
8/19/93
1/28/39
8/13/42
4/26/48
10/9/08
4/6/60
9/16/63
8/7/43
1/16/64
12/21/42
1/31/42
1/13/30
9/21/75
3/13/59
PAT_ID
Z86557    2/17/61
Z86557    2/17/61
Name: PAT_DOB, dtype: object
PAT_ID
Z86557    2/17/61
Z86557    2/17/61
Name: PAT_DOB, dtype: object
5/30/04
PAT_ID
Z868858    8/20/69
Z868858    8/20/69
Z868858    8/20/69
Name: PAT_DOB, dtype: object
PAT_ID
Z868858    8/20/69
Z868858    8/20/69
Z868858    8/20/69
Name: PAT_DOB, dtype: object
PAT_ID
Z868858    8/20/69
Z868858    8/20/69
Z868858    8/20/69
Name: PAT_DOB, dtype: object
5/24/50
5/16/46
2/27/73
6/15/41
4/6/39
6/16/30
9/2/98
8/4/63
3/18/67
7/26/46
6/2/58
10/5/42
5/29/77
9/2/33
10/2/48
8/18/55
11/16/71
5/8/98

NameError: name 'hfcoccps16' is not defined

In [4]:
#conditions, Ischemic
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA6A'] == 'Y' or pt['HFAA6A'] == 'Y' or pt['HFAA11K'] == 'Y' or  pt['HFAA16J']== 'Y' or  pt['HFAA76']== 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['ISCH'] = lst

#Nonischemic
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA6B'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['NonISCH'] = lst

#AF
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11B1'] == 'Y' or pt['HFAA16K'] == 'Y' or pt['HFAA26C'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['AF'] = lst

#AlchE
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA9B'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['AlchE'] = lst

#Angina
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11A'] == 'Y' or pt['HFAA16J'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['ANGP'] = lst

#ARRH
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11B1'] == 'Y' or pt['HFAA11B2'] == 'Y' or pt['HFAA11B3'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['ARRH'] = lst

#CARREST
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11D'] == 'Y' or pt['HFAA74'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['CARREST'] = lst

#COPD
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA10B'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['COPD'] = lst

#Depr
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA14B'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['DEPR'] = lst

#Diab
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA12A'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['DIAB'] = lst

#HEPT
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA22D'] == 'Y' or pt['HFAA22C'] == 'Y' or pt['HFAA12C'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['HEPT'] = lst

#HTN
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11J'] == 'Y' or pt['HFAA11L'] == 'Y' or pt['HFAA29D10'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['HTN'] = lst

#Malig
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA9E'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['MALIG'] = lst

#Malig
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA13A'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['RENAL'] = lst

#Smok
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA9H'] == 'Y' or pt['HFAA9G'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['SMOKING'] = lst

#Stroke TIA
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA14A'] == 'Y' or pt['HFAA75'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['StrokeTIA'] = lst

#VAHD
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11M'] == 'Y' or pt['HFAA28L'] == 'Y' or pt['HFAA28I'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['VAHD'] = lst

#VF
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11B3'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['VF'] = lst

#VHD
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11O'] == 'Y' or pt['HFAA29D4'] == 'Y' or pt['HFAA29D5'] == 'Y' or pt['HFAA29D6'] == 'Y' or pt['HFAA29D7'] == 'Y' or pt['HFAA29D8'] == 'Y' or pt['HFAA32B4'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['VHD'] = lst

#VT
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11B3'] == 'Y' or pt['HFAA26F'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['VT'] = lst

#CABG
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11E1'] == 'Y' or pt['HFAA51'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['CABG'] = lst

#HTRANS
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA56'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['HTRANS'] = lst

#ICD
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11E5'] == 'Y' or pt['HFAA11I'] == 'Y' or pt['HFAA47'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['ICD'] = lst

#Pace
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11E4'] == 'Y' or pt['HFAA49'] == 'Y' or pt['HFAA50'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['PACE'] = lst

#PTCI
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA11E2'] == 'Y' or pt['HFAA52'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['PTCI'] = lst


cohort.head(5)

,Age,Gender,Race,Wt_B,Wt_D,BMI_D,EjF,NYHA,TotalHospDays,ISCH,...,StrokeTIA,VAHD,VF,VHD,VT,CABG,HTRANS,ICD,PACE,PTCI
ID,,,,,,,,,,,,,,,,,,,,,
S105655,76,1,1,NaN,NaN,NaN,NaN,NaN,11.0,0,...,1,1,0,0,0,1,0,0,0,0
S105737,76,2,1,67.7,63.3,28.185923,40.0,NaN,3.0,0,...,1,1,0,0,0,0,0,0,0,0
S106083,66,2,1,86.0,88.5,36.865164,NaN,0,10.0,0,...,0,1,1,0,1,0,0,1,1,0
S106142,77,2,1,79.4,66.8,22.391913,60.0,0,11.0,0,...,0,0,0,0,0,0,0,0,0,1
S106248,66,2,1,91.0,93.3,37.621043,NaN,NaN,4.0,1,...,0,1,1,0,1,1,0,1,1,0

In [5]:
# Labs
cohort['BUN_D'] = hfchfaps16['HFAA45B'].tolist()
cohort['CRT_B'] = hfchfaps16['HFAA44A1'].tolist()

#CRT
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if not np.isnan(pt['HFAA44B1']):
        lst.append(pt['HFAA44B1'])
    else:
        lst.append(pt['HFAA44B'])

cohort['CRT_D'] = lst
cohort['HEC_D'] = hfchfaps16['HFAA38B'].tolist()
cohort['HEM_D'] = hfchfaps16['HFAA37B'].tolist()
cohort['SOD_D'] = hfchfaps16['HFAA43B'].tolist()

#Meds
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA59'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['ACE_B'] = lst

lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA59A'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['ACE_D'] = lst

lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA65'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['BET_B'] = lst

lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA65A'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['BET_D'] = lst

lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA71'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['NIT_B'] = lst

lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA71A'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['NIT_D'] = lst

lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA68'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['DIUR_B'] = lst

lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    if pt['HFAA68A'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
cohort['DIUR_D'] = lst

cohort

,Age,Gender,Race,Wt_B,Wt_D,BMI_D,EjF,NYHA,TotalHospDays,ISCH,...,HEM_D,SOD_D,ACE_B,ACE_D,BET_B,BET_D,NIT_B,NIT_D,DIUR_B,DIUR_D
ID,,,,,,,,,,,,,,,,,,,,,
S105655,76,1,1,NaN,NaN,NaN,NaN,NaN,11.0,0,...,13.4,135.0,1,1,1,1,1,1,0,0
S105737,76,2,1,67.70,63.3,28.185923,40.0,NaN,3.0,0,...,11.0,138.0,0,0,1,1,0,0,0,0
S106083,66,2,1,86.00,88.5,36.865164,NaN,0,10.0,0,...,10.4,136.0,0,0,1,1,0,0,1,1
S106142,77,2,1,79.40,66.8,22.391913,60.0,0,11.0,0,...,12.3,140.0,0,0,1,1,0,0,1,1
S106248,66,2,1,91.00,93.3,37.621043,NaN,NaN,4.0,1,...,13.8,137.0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S214719,83,2,1,115.70,114.6,39.570139,NaN,NaN,6.0,1,...,12.6,140.0,0,0,0,0,1,0,1,0
S214738,73,2,1,52.30,52.0,22.020398,65.0,NaN,11.0,0,...,9.6,136.0,0,0,1,1,0,0,0,0
S214744,74,2,1,87.10,87.1,35.121038,NaN,NaN,3.0,0,...,14.4,141.0,0,1,1,1,1,1,1,1
S214752,80,2,1,66.90,67.1,24.616617,60.0,NaN,2.0,1,...,12.2,135.0,0,0,0,0,0,0,0,0
S214764,83,1,1,86.18,NaN,25.767606,45.0,NaN,21.0,0,...,9.7,147.0,0,0,1,0,0,0,0,0

In [6]:
cohort['HRTRT'] = hfchfaps16['HFAA18A'].tolist()
cohort['BPSYS_B'] = hfchfaps16['HFAA17A'].tolist()
cohort['BPDIAS_B'] = hfchfaps16['HFAA17B'].tolist()
cohort['BPSYS_D'] = hfchfaps16['HFAA17C'].tolist()
cohort['BPDIAS_D'] = hfchfaps16['HFAA17D'].tolist()

cohort['RAP'] = hfchfaps16['HFAA31B1'].tolist()
cohort['PAS'] = hfchfaps16['HFAA31B2'].tolist()
cohort['PCWP'] = hfchfaps16['HFAA31B3'].tolist()
cohort['CO'] = hfchfaps16['HFAA31B4'].tolist()
cohort['CI'] = hfchfaps16['HFAA31B5'].tolist()


idx = sorted(set(cohort.index))

#MAP
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = t['BPSYS_B'] + ((2 * t['BPDIAS_B']) / 3)
    f = t['BPSYS_D'] + ((2 * t['BPDIAS_D']) / 3)
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['MAP_B'] = base
cohort['MAP_D'] = final

#CPI
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = (t['CI'] * t['MAP_B']) / 451
    f = (t['CI'] * t['MAP_D']) / 451
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['CPI_B'] = base
cohort['CPI_D'] = final
    
#PP
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = t['BPSYS_B'] - t['BPDIAS_B']
    f = t['BPSYS_D'] - t['BPDIAS_D']
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['PP_B'] = base
cohort['PP_D'] = final

#PPP
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = t['PP_B'] / t['BPSYS_B']
    f = t['PP_D'] / t['BPSYS_D']
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['PPP_B'] = base
cohort['PPP_D'] = final

#SVR
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = 80 * (t['MAP_B']  - t['RAP']) / t['CO']
    f = 80 * (t['MAP_D']  - t['RAP']) / t['CO']
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['SVR_B'] = base
cohort['SVR_D'] = final

#RAT
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]
    b = t['RAP'] / t['PCWP']

    base.append(b)

cohort['RAT'] = base


#PPRatio
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = t['PP_B'] / t['HRTRT']
    f = t['PP_D'] / t['HRTRT']
    c = f - b

    base.append(b)
    final.append(f)
    
cohort['PPRatio_B'] = base
cohort['PPRatio_D'] = final


#SAPi
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = (t['BPSYS_B'] - t['BPDIAS_B']) / t['PCWP']
    f = (t['BPSYS_D'] - t['BPDIAS_D']) / t['PCWP']
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['SAPi_B'] = base
cohort['SAPi_D'] = final

#CPP
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = t['BPDIAS_B'] - t['PCWP']
    f = t['BPDIAS_D'] - t['PCWP']
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['CPP_B'] = base
cohort['CPP_D'] = final

#PRAPRat
chg = []
base = []
final = []
for i in idx:
    t = cohort.loc[i]

    b = t['PP_B'] / t['RAP']
    f = t['PP_D'] / t['RAP']
    c = f - b

    base.append(b)
    final.append(f)
    chg.append(c)
    
cohort['PRAPRat_B'] = base
cohort['PRAPRat_D'] = final


cohort.head(5)

,Age,Gender,Race,Wt_B,Wt_D,BMI_D,EjF,NYHA,TotalHospDays,ISCH,...,SVR_D,RAT,PPRatio_B,PPRatio_D,SAPi_B,SAPi_D,CPP_B,CPP_D,PRAPRat_B,PRAPRat_D
ID,,,,,,,,,,,,,,,,,,,,,
S105655,76,1,1,NaN,NaN,NaN,NaN,NaN,11.0,0,...,NaN,NaN,1.492958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S105737,76,2,1,67.7,63.3,28.185923,40.0,NaN,3.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S106083,66,2,1,86.0,88.5,36.865164,NaN,0,10.0,0,...,NaN,NaN,0.734694,0.571429,NaN,NaN,NaN,NaN,NaN,NaN
S106142,77,2,1,79.4,66.8,22.391913,60.0,0,11.0,0,...,NaN,NaN,1.333333,1.333333,NaN,NaN,NaN,NaN,NaN,NaN
S106248,66,2,1,91.0,93.3,37.621043,NaN,NaN,4.0,1,...,NaN,NaN,0.531250,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Make separate datasets

#HEMO
varz = ['Age', 'Gender', 'Race', 'EjF', 'RAP', 'PAS', 'PAD', 'PAMN', 'PCWP', 'CO', 
                            'CI', 'MIXED', 'BPSYS', 'BPDIAS', 'HRTRT', 'MAP','MPAP', 'CPI',
                            'PP', 'PPP', 'PAPP', 'SVR', 'RAT', 'PPRatio', 'PAPi', 'SAPi', 'CPP', 'PRAPRat']

giantList = []
for i in range(len(cohort)):
    df = cohort.iloc[i]
    row0 = []
    row1 = []
    row0.append(df.name)
    row1.append(df.name)
    for col in varz:
        if col in cohort.columns: #value for both
            row0.append(df[col])
            row1.append(df[col])
        elif col + "_B" in cohort.columns and col + "_D" in cohort.columns:
            row0.append(df[col+"_B"])
            row1.append(df[col+"_D"])
        elif col + "_B" in cohort.columns and not col + "_D" in cohort.columns:
            row0.append(df[col+"_B"])
            row1.append(0)
        elif not col + "_B" in cohort.columns and col + "_D" in cohort.columns:
            row0.append(0)
            row1.append(df[col+"_D"])
        else:
            row0.append(0)
            row1.append(0)
    
    giantList.append(row0)
    giantList.append(row1)

varz.insert(0, 'ID')
hemoDF = pd.DataFrame(giantList, columns=varz).set_index('ID', drop=True)
    
hemoDF

,Age,Gender,Race,EjF,RAP,PAS,PAD,PAMN,PCWP,CO,...,PP,PPP,PAPP,SVR,RAT,PPRatio,PAPi,SAPi,CPP,PRAPRat
ID,,,,,,,,,,,,,,,,,,,,,
S105655,76,1,1,NaN,NaN,NaN,0,0,NaN,NaN,...,106.0,0.546392,0,NaN,NaN,1.492958,0,NaN,NaN,NaN
S105655,76,1,1,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
S105737,76,2,1,40.0,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
S105737,76,2,1,40.0,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
S106083,66,2,1,NaN,NaN,NaN,0,0,NaN,NaN,...,72.0,0.507042,0,NaN,NaN,0.734694,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S214744,74,2,1,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
S214752,80,2,1,60.0,NaN,NaN,0,0,NaN,NaN,...,120.0,0.521739,0,NaN,NaN,1.153846,0,NaN,NaN,NaN
S214752,80,2,1,60.0,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN
S214764,83,1,1,45.0,NaN,NaN,0,0,NaN,NaN,...,102.0,0.625767,0,NaN,NaN,1.758621,0,NaN,NaN,NaN
S214764,83,1,1,45.0,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN

In [8]:
#Get only patients with hemo
hemoTest = hemoDF[['RAP', 'PAS', 'PCWP', 'CO', 'CI']]
hemoComposite = hemoDF.loc[~(np.isnan(hemoTest)).all(axis=1)]
print(hemoComposite.shape)
hemoComposite.head(5)

(40, 28)

,Age,Gender,Race,EjF,RAP,PAS,PAD,PAMN,PCWP,CO,...,PP,PPP,PAPP,SVR,RAT,PPRatio,PAPi,SAPi,CPP,PRAPRat
ID,,,,,,,,,,,,,,,,,,,,,
S110616,74,2,1,25.0,25.0,64.0,0,0,23.0,2.5,...,54.0,0.465517,0,4234.666667,1.086957,0.794118,0,2.347826,39.0,2.160
S110616,74,2,1,25.0,25.0,64.0,0,0,23.0,2.5,...,50.0,0.471698,0,3786.666667,1.086957,0.735294,0,2.173913,33.0,2.000
S112447,66,2,1,60.0,8.0,110.0,0,0,12.0,NaN,...,69.0,0.522727,0,NaN,0.666667,1.210526,0,5.750000,51.0,8.625
S112447,66,2,1,60.0,8.0,110.0,0,0,12.0,NaN,...,83.0,0.525316,0,NaN,0.666667,1.456140,0,6.916667,63.0,10.375
S113841,79,1,1,NaN,15.0,45.0,0,0,25.0,4.4,...,42.0,0.371681,0,2642.424242,0.600000,0.466667,0,1.680000,46.0,2.800

In [9]:
#save to file
hemoComposite.to_csv("../Data Validation/ARIC/Original DataFrames/HemoAricCohort.csv")

In [10]:
#MAke Hemo Labels
labels = pd.DataFrame()
labels['ID'] = hemoComposite.index
labels = labels.set_index('ID')

#Death LVAD
lst = []
for idx in hemoComposite.index:
    pt = hfchfaps16.loc[idx]
    pt1 = hfccelps16.loc[idx]
    if pt1['CELB06'] == 'Y' or pt1['CELB12'] == 'Y' or pt['HFAA57'] == 'Y' or pt['HFAA56'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
labels['Death'] = lst

labels

         Death
ID
S110616      0
S110616      0
S112447      0
S112447      0
S113841      1
S113841      1
S114430      0
S114430      0
S116317      1
S116317      1
S116322      1
S116322      1
S116458      0
S116458      0
S116809      0
S116809      0
S116987      0
S116987      0
S117792      0
S117792      0
S119632      1
S119632      1
S122154      0
S122154      0
S123959      0
S123959      0
S125879      0
S125879      0
S126293      0
S126293      0
S138297      0
S138297      0
S142032      0
S142032      0
S147847      0
S147847      0
S181643      1
S181643      1
S196558      0
S196558      0

In [11]:
labels.to_csv("../Data Validation/ARIC/Original DataFrames/HemoLabelsAricCohort.csv")

In [12]:
#Make separate datasets

#All Data - conditions
varz = ['Age', 'Gender', 'Race', 'Wt', 'BMI', 
       'InitialHospDays', 'TotalHospDays', 'NYHA', 'MLHFS', 'AF',
       'AlchE', 'ANGP', 'ARRH', 'CARREST', 'CVD', 'COPD', 'DEPR', 'DIAB',
       'GOUT', 'HEPT', 'HTN', 'MALIG', 'RENAL', 'SMOKING', 'STERD',
       'StrokeTIA', 'VAHD', 'VF', 'VHD', 'VT', 'ISCH', 'NonISCH', 'CABG',
       'HTRANS', 'ICD', 'PACE', 'PTCI', 'SixFtWlk', 'VO2','ALB', 'ALT', 'AST', 'BUN',
       'CRT', 'DIAL', 'HEC', 
       'HEM','PLA', 'POT',  'SOD',
       'TALB', 'TOTP', 'WBC', 'ACE','BET', 'NIT', 'DIUR',
       'EjF', 'BPDIAS', 'BPSYS', 'HR',
       'PV', 'MAP', 'PP', 'PPP', 'PPRatio']



giantList = []
for i in range(len(cohort)):
    df = cohort.iloc[i]
    row0 = []
    row1 = []
    row0.append(df.name)
    row1.append(df.name)
    for col in varz:
        if col in cohort.columns: #value for both
            row0.append(df[col])
            row1.append(df[col])
        elif col + "_B" in cohort.columns and col + "_D" in cohort.columns:
            row0.append(df[col+"_B"])
            row1.append(df[col+"_D"])
        elif col + "_B" in cohort.columns and not col + "_D" in cohort.columns:
            row0.append(df[col+"_B"])
            row1.append(0)
        elif not col + "_B" in cohort.columns and col + "_D" in cohort.columns:
            row0.append(0)
            row1.append(df[col+"_D"])
        else:
            row0.append(0)
            row1.append(0)
    
    giantList.append(row0)
    giantList.append(row1)

varz.insert(0, 'ID')
allData = pd.DataFrame(giantList, columns=varz).set_index('ID', drop=True)
    
allData

,Age,Gender,Race,Wt,BMI,InitialHospDays,TotalHospDays,NYHA,MLHFS,AF,...,DIUR,EjF,BPDIAS,BPSYS,HR,PV,MAP,PP,PPP,PPRatio
ID,,,,,,,,,,,,,,,,,,,,,
S105655,76,1,1,NaN,0.000000,0,11.0,NaN,0,0,...,0,NaN,88.0,194.0,0,0,252.666667,106.0,0.546392,1.492958
S105655,76,1,1,NaN,NaN,0,11.0,NaN,0,0,...,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
S105737,76,2,1,67.70,0.000000,0,3.0,NaN,0,1,...,0,40.0,NaN,NaN,0,0,NaN,NaN,NaN,NaN
S105737,76,2,1,63.30,28.185923,0,3.0,NaN,0,1,...,0,40.0,NaN,NaN,0,0,NaN,NaN,NaN,NaN
S106083,66,2,1,86.00,0.000000,0,10.0,0,0,0,...,1,NaN,70.0,142.0,0,0,188.666667,72.0,0.507042,0.734694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S214744,74,2,1,87.10,35.121038,0,3.0,NaN,0,1,...,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
S214752,80,2,1,66.90,0.000000,0,2.0,NaN,0,0,...,0,60.0,110.0,230.0,0,0,303.333333,120.0,0.521739,1.153846
S214752,80,2,1,67.10,24.616617,0,2.0,NaN,0,0,...,0,60.0,NaN,NaN,0,0,NaN,NaN,NaN,NaN
S214764,83,1,1,86.18,0.000000,0,21.0,NaN,0,1,...,0,45.0,61.0,163.0,0,0,203.666667,102.0,0.625767,1.758621
S214764,83,1,1,NaN,25.767606,0,21.0,NaN,0,1,...,0,45.0,NaN,NaN,0,0,NaN,NaN,NaN,NaN

In [13]:
#save to file
allData.to_csv("../Data Validation/ARIC/Original DataFrames/AllDataAricCohort.csv")

In [14]:
#Make Labels
labels = pd.DataFrame()
labels['ID'] = hfcoccps16.index
labels = labels.set_index('ID')

#Death LVAD
lst = []
for idx in hfchfaps16.index:
    pt = hfchfaps16.loc[idx]
    pt1 = hfccelps16.loc[idx]
    if pt1['CELB06'] == 'Y' or pt1['CELB12'] == 'Y' or pt['HFAA57'] == 'Y' or pt['HFAA56'] == 'Y': 
        lst.append(1)
    else:
        lst.append(0)
labels['Death'] = lst

labels

         Death
ID
S105655      0
S105737      0
S106083      0
S106142      0
S106248      1
...        ...
S214719      0
S214738      0
S214744      0
S214752      0
S214764      0

[7851 rows x 1 columns]

In [15]:
labels.to_csv("../Data Validation/ARIC/Original DataFrames/LabelsAricCohort.csv")